<style>
  i.logo:hover {
    /* color: linear-gradient(black, orange); */
    text-shadow: 0 0 30px white;
    /* background: -webkit-linear-gradient(90deg, white, lightgreen); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid mx-3">
    <a class="navbar-brand" href="{% url 'home' %}">
      <i class="logo p-1 fa-solid fa-feather-pointed fs-1"></i>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item flex">
          <a class="nav-link" href="{% url 'create' %}">
            <i class="fa fa-plus"></i>
            New Entry
          </a>
        </li>
      </ul>
      <form class="d-flex" action="{% url 'search' %}" method="GET" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="form-control me-sm-2 rounded" type="search" name="query" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0 rounded" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>